In [1]:
import numpy as np
import pandas as pd

In [3]:
from google.colab import files
uploaded = files.upload()

Saving 한국학중앙연구원_한국민족문화대백과사전 미디어 메타데이터_20200923.csv to 한국학중앙연구원_한국민족문화대백과사전 미디어 메타데이터_20200923.csv
Saving 한국학중앙연구원_한국민족문화대백과사전_20200520.csv to 한국학중앙연구원_한국민족문화대백과사전_20200520.csv

In [4]:
df1 = pd.read_csv('한국학중앙연구원_한국민족문화대백과사전_20200520.csv')
df2 = pd.read_csv('한국학중앙연구원_한국민족문화대백과사전 미디어 메타데이터_20200923.csv')

In [5]:
df1.head(5)

,항목명,원어,이칭,키워드,분야,유형,시대,웹사이트 주소
0,ㄱ,NaN,기역,NaN,언어/언어·문자,개념용어,NaN,http://encykorea.aks.ac.kr/Contents/Item/E0000002
1,ㄱ당,─黨,기역당,신간회,역사/근대사,단체,근대,http://encykorea.aks.ac.kr/Contents/Item/E0000003
2,ㄱ자집,─字─,기역자집,NaN,생활/주생활,개념용어,NaN,http://encykorea.aks.ac.kr/Contents/Item/E0000004
3,가,加,NaN,"부족단체명, 관명, 지배층, 군장",역사/고대사,제도,고대/초기국가,http://encykorea.aks.ac.kr/Contents/Item/E0000005
4,가,枷,칼,"형구(刑具), 추(杻), 질(桎)",역사/조선시대사,제도,조선,http://encykorea.aks.ac.kr/Contents/Item/E0000006

In [6]:
df2.head(5)

,제목,설명,키워드
0,김재규,"1926-1980. 군인, 정치가, 행정가. 대통령 박정희 시해 사건의 인물로 내란...",관료/중앙정보부장/십이륙사태
1,족제비덫,사냥 도구인 족제비를 잡는 덫. 산채로 잡는 것이 목적이다.,덫/통방이
2,고성 덕명리 공룡발자국,경상남도 고성군 하이면 덕명리에 있는 화석. 약 110m 두께의 지층 가운데 328...,NaN
3,함평 기각리 붉가시나무 자생북한지,전라남도 함평군 함평읍 기각리에 있는 붉가시나무 자생북한지. 천연기념물 제110호.,무덤
4,녹리문집,NaN,문집/악부/서원/죽림사지/당간지주/고성겸

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73587 entries, 0 to 73586
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   항목명      73587 non-null  object
 1   원어       70014 non-null  object
 2   이칭       21200 non-null  object
 3   키워드      39557 non-null  object
 4   분야       73587 non-null  object
 5   유형       73587 non-null  object
 6   시대       60389 non-null  object
 7   웹사이트 주소  73587 non-null  object
dtypes: object(8)
memory usage: 4.5+ MB

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71418 entries, 0 to 71417
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제목      71418 non-null  object
 1   설명      51473 non-null  object
 2   키워드     60320 non-null  object
dtypes: object(3)
memory usage: 1.6+ MB

In [9]:
df1.isnull().sum()

항목명            0
원어          3573
이칭         52387
키워드        34030
분야             0
유형             0
시대         13198
웹사이트 주소        0
dtype: int64

In [10]:
df2.isnull().sum()

제목         0
설명     19945
키워드    11098
dtype: int64

In [11]:
df1['제목'] = df1['항목명'] + ", " + df1['이칭']

In [12]:
df1.head(5)

,항목명,원어,이칭,키워드,분야,유형,시대,웹사이트 주소,제목
0,ㄱ,NaN,기역,NaN,언어/언어·문자,개념용어,NaN,http://encykorea.aks.ac.kr/Contents/Item/E0000002,"ㄱ, 기역"
1,ㄱ당,─黨,기역당,신간회,역사/근대사,단체,근대,http://encykorea.aks.ac.kr/Contents/Item/E0000003,"ㄱ당, 기역당"
2,ㄱ자집,─字─,기역자집,NaN,생활/주생활,개념용어,NaN,http://encykorea.aks.ac.kr/Contents/Item/E0000004,"ㄱ자집, 기역자집"
3,가,加,NaN,"부족단체명, 관명, 지배층, 군장",역사/고대사,제도,고대/초기국가,http://encykorea.aks.ac.kr/Contents/Item/E0000005,NaN
4,가,枷,칼,"형구(刑具), 추(杻), 질(桎)",역사/조선시대사,제도,조선,http://encykorea.aks.ac.kr/Contents/Item/E0000006,"가, 칼"

In [13]:
df1 = df1.drop(['항목명', '원어', '이칭', '유형', '시대', '분야'], axis=1)

In [14]:
df1.head(5)

,키워드,웹사이트 주소,제목
0,NaN,http://encykorea.aks.ac.kr/Contents/Item/E0000002,"ㄱ, 기역"
1,신간회,http://encykorea.aks.ac.kr/Contents/Item/E0000003,"ㄱ당, 기역당"
2,NaN,http://encykorea.aks.ac.kr/Contents/Item/E0000004,"ㄱ자집, 기역자집"
3,"부족단체명, 관명, 지배층, 군장",http://encykorea.aks.ac.kr/Contents/Item/E0000005,NaN
4,"형구(刑具), 추(杻), 질(桎)",http://encykorea.aks.ac.kr/Contents/Item/E0000006,"가, 칼"

In [15]:
df1 = df1.rename(columns = {"웹사이트 주소":"설명"})
df1.head(5)

,키워드,설명,제목
0,NaN,http://encykorea.aks.ac.kr/Contents/Item/E0000002,"ㄱ, 기역"
1,신간회,http://encykorea.aks.ac.kr/Contents/Item/E0000003,"ㄱ당, 기역당"
2,NaN,http://encykorea.aks.ac.kr/Contents/Item/E0000004,"ㄱ자집, 기역자집"
3,"부족단체명, 관명, 지배층, 군장",http://encykorea.aks.ac.kr/Contents/Item/E0000005,NaN
4,"형구(刑具), 추(杻), 질(桎)",http://encykorea.aks.ac.kr/Contents/Item/E0000006,"가, 칼"

In [16]:
df = pd.concat([df1, df2])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145005 entries, 0 to 71417
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   키워드     99877 non-null   object
 1   설명      125060 non-null  object
 2   제목      92618 non-null   object
dtypes: object(3)
memory usage: 4.4+ MB

In [18]:
df.head(5)

,키워드,설명,제목
0,NaN,http://encykorea.aks.ac.kr/Contents/Item/E0000002,"ㄱ, 기역"
1,신간회,http://encykorea.aks.ac.kr/Contents/Item/E0000003,"ㄱ당, 기역당"
2,NaN,http://encykorea.aks.ac.kr/Contents/Item/E0000004,"ㄱ자집, 기역자집"
3,"부족단체명, 관명, 지배층, 군장",http://encykorea.aks.ac.kr/Contents/Item/E0000005,NaN
4,"형구(刑具), 추(杻), 질(桎)",http://encykorea.aks.ac.kr/Contents/Item/E0000006,"가, 칼"

In [19]:
df.isnull().sum()

키워드    45128
설명     19945
제목     52387
dtype: int64

In [20]:
df = df.dropna()

In [22]:
df.duplicated().sum()

4348

In [25]:
df.duplicated

<bound method DataFrame.duplicated of                       키워드                                                 설명  \
1                     신간회  http://encykorea.aks.ac.kr/Contents/Item/E0000003
4      형구(刑具), 추(杻), 질(桎)  http://encykorea.aks.ac.kr/Contents/Item/E0000006
10                     가악  http://encykorea.aks.ac.kr/Contents/Item/E0000024
12            산학, 산서, 구수략  http://encykorea.aks.ac.kr/Contents/Item/E0000026
37         등가(登歌), 헌가(軒歌)  http://encykorea.aks.ac.kr/Contents/Item/E0000052
...                   ...                                                ...
71413           시가/시조/맹사성  조선 초기에 맹사성이 지은 시조. 4수로 된 연시조. 강호가 또는 사시한정가라고도 ...
71414        문집/경연/다구/이운영                    조선 후기의 문신 이운영의 시문집. 필사본. 규장각도서.
71415             구치소/형무소          서울특별시 서대문구 현저동에 있는 서울구치소의 옛 자리. 사적 제324호.
71416      삼도수군통제영/석인/류성추                         경상남도 통영시 문화동에 있는 세병관 내 석물.
71417               의복/인물  조선 중기의 장군 남이흥(1576-1627)이 입었던 의복 중 구의. 중요민속문화재...

                 제목
1           ㄱ당, 기역당
4              가, 칼
10           가객, 가악
12       가결, 구결(口訣)
37         가공, 가(歌)
...             ...
71413   강호사시가 / 맹사성
71414         옥국재유고
71415       구 서울구치소
71416   통영 세병관 내 석물
71417  남이흥 장군 일가 유품

[57875 rows x 3 columns]>

In [26]:
df = df.drop_duplicates(['제목'])

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48263 entries, 1 to 71416
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   키워드     48263 non-null  object
 1   설명      48263 non-null  object
 2   제목      48263 non-null  object
dtypes: object(3)
memory usage: 1.5+ MB

In [ ]:
import # 이 다음부터 가닥이 잡히지 않음..